<div class="hd logodiv" >
    <%- image_tag('img/logo.png',{class: 'logopng'}) %>
    <p class="logot"><span class="logo_1"></span><span class="logo_2"></span><span class="logo_3"></span> <%= theme.logo_title %> <span class="logo_3"></span><span class="logo_2"></span><span class="logo_1"></span></p>
</div>
<%- partial('_partial/nav') %>
<div class="hd">
    <% var last; %>
    <% page.posts.each(function (post) { %>
        <% var year = post.date.year(); %>
        <% if (last != year){ %>
            <div class="titlex">
                <p><span class="jing"></span>
                    <%= year %>
                </p>
            </div>
            <% last = year; %>
        <% } %>
        <a class="flink" href="<%- url_for(post.path) %>">
            <div class="list">
                <div class="postname">
                    <%= post.title %>
                </div>
                <div class="posttime">
                    <%- full_date(post.date, 'MMMM Do') %>
                </div>
            </div>
        </a>
    <% }) %>
</div>

    　　
<!-- 访问地理位置挂件 -->
<div class="diqiu">
    <script type="text/javascript" src="//rf.revolvermaps.com/0/0/3.js?i=5ef771ov0ey&amp;b=0&amp;s=40&amp;m=2&amp;cl=ffffff&amp;co=010020&amp;cd=aa0000&amp;v0=60&amp;v1=60&amp;r=1" async="async"></script>
</div>
